@charset "UTF-8";

.hero {
  height: 46rem;
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";
  /* posa+t0+l0+r0+b0 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* inset:0; */
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.hero figure {
  position: absolute;
  top: 0;
  left: 0;
  /* border: 5px solid #f00; */

  animation: reveal-ani 1s;
}

.hero img {
  object-position: 50% 10%; /* obp */
}

.hero .inner {
  position: relative;
  z-index: 10;
  height: 100%;
  /* background: skyblue; */
}

.visual-title {
  /* posa+t50p+l0+bg */
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  /* background: #f00; */
  color: #fff;

  width: 69rem;
  width: 58.4746%;
}

.visual-title h2 {
  /* fw700+fz4.8r */
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.visual-title h2 strong {
  color: var(--main-color);
}

.visual-title p {
  /* fw500+fz2r+mt2.4r */
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2.4rem;
}

.visual-title .cta {
  /* df+w20r+h4r+bg+c#fff+fw700+fz1.6r+lh1.5 */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20rem;
  height: 4.8rem;
  background: var(--main-color);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;

  margin-top: 3.2rem;
}

.visual-title .cta:hover {
  background: var(main-dark);
  color: #fff;
}

/* main 하위 섹션 전체 적용(hero제외) : 2025.09.04. 임기웅 */
main > section + section {
  padding: 9rem 0 3rem;
}

main > section + section:last-child {
  padding-bottom: 12rem;
}

/* 사업소개 */
.business-list {
  display: flex;
  gap: 2rem; /* g2r */
}

.business-list li {
  border: 1px solid var(--black30);
  /* fx1-1-a */
  flex: 1 1 auto;
  width: 28rem;
  width: 23.7288%;

  height: 30.2rem;
  padding: 2.8rem 3.2rem;
  /* bxsh */
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.05);
}

.business-list li dl dt {
  /* fw700+fz2r+lh1.3+c */
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3;
  color: var(--main-dark);
}

.business-list li dl dd {
  font-weight: 500;
  line-height: 1.5;
  margin-top: 1.2rem;
}

.business-list li dl dd:first-of-type {
  margin-top: 2rem;
}

/* works */
.works {
}

.sec-title {
  /* fw500+fz3.2r+c */
  font-weight: 500;
  font-size: 3.2rem;
  color: var(--main-color);
}

.sec-tittle + p {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 0.4rem;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.8rem;
}

.works-list li figure {
  transition: 0.4s;
}

.works-list li {
  flex: 1 1 50%;
  position: relative;
  overflow: hidden;
}

.works-list li p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 500;
  font-size: 2.4rem;
  text-align: center;

  /* background: pink; */
  width: 90%;
}

.works-list li p strong {
  display: block;
  font-weight: 700;
}

.works-list li:hover figure {
  transform: scale(1.3);
  filter: blur(10%);
}

/* news */
.news-con {
  display: flex;
  gap: 6rem;
  gap: 5.0847%;
}

.news-con .news-text {
  width: 48rem;
  width: 48.678%;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
}
.news-con .news-text h4 {
  /* fw700+fz2.4r+c */
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--title-color);
  /* margin-top: 1.8rem; */
}

.news-con .news-text p {
  margin-top: 1.8rem;
}

.news-con figure {
  width: 64rem;
  width: 54.2373%;
}

/* footer */
.footer {
  background: #333;
  color: var(--white60);
  padding: 5.2rem 0;
}

.foot-con {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse; /* fxdrr */
}

.foot-text {
  /* fw700+fz1.4r+lh1.5 */
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5;
}

.foot-text p + p {
  /* mt.8r */
  margin-top: 0.8rem;
}

/* column */
.column h4 {
  font-weight: 500;
  font-size: 2.8rem;
  color: var(--main-color);
}

.column h5 {
  font-weight: 700;
  font-size: 3.2rem;
  color: #000;
  margin-top: 1.8rem;
}
.column h5 + p {
  margin-top: 1.8rem;
  column-count: 2;
  column-gap: 4rem;
  text-align: justify;
}

/* .column p {
  margin-top: 1.8rem;
  column-count: 2;
} */

.column p + p {
  text-align: right;
  margin-top: 3rem;
}

.column p + p strong {
  display: block;
  font-weight: 700;
}
/* 태블릿 */
@media (max-width: 1024px) {
  .hero {
    height: 64rem;
  }

  .visual-title {
    width: 46rem;
    width: 47.5207%;
  }
}
.business-list {
  flex-wrap: wrap;
}

.business-list li {
  width: 47.4rem;
  width: 48.9669%;

  height: 28rem;
}

.nesw-con {
  gap: 2rem;
}
.nesw-con .nesww-text {
  width: 47.4rem;
  width: 48.9669%;
}

.news-con figure {
  width: 47.4rem;
  width: 48.9669%;
}

.column h5 + p {
  column-count: 1;
}
